body{
    background-color: hsl(210, 60%, 98%);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    color: hsl(219, 12%, 42%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img{
    object-fit: fill;
    padding: 10%;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: hsl(219, 12%, 42%);
}
a:active{
    color: hsl(219, 85%, 26%);
}
.profilePics{
    width: 5rem;
    height: 4rem;
}
.blackText{
    color: black;
}
.name{
    cursor: pointer;
}
.name:active{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}
.notificationsArea{
    margin-top: 2%;
    background-color: hsl(0, 0%, 100%);
    width: 45rem;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(236, 236, 236);
    padding: 2%;
    padding-top: 1%;
}

.headArea{
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

#unreadNum{
    background-color: hsl(219, 85%, 26%);
    color: white;
    font-weight: 500;
    width: 1.8rem;
    height: 1.4rem;
    border-radius: 4px;
    text-align: center;
    margin-left:1rem;
}
#markRead{
    flex-grow: 1;
    text-align: right;
    cursor: pointer;
}
#markRead:active{
    color:hsl(219, 85%, 26%);
}

.noteDivs{
    display: flex;
    border-radius: 10px;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin-bottom: .7rem;
    justify-content: flex-start;
}
.note-and-time{
    width: 26rem;
    display: flex;
    flex-direction: column;
    width: 33rem;
    
}
.notes{
    margin-bottom: 0;
    margin-top: .7rem;
}
.time{
    color: hsl(204, 8%, 65%);
}
.clubs{
    color: hsl(219, 85%, 26%);
}
.unreadDiv{
    background-color: hsl(211, 68%, 94%);
}
.unreadDiv>.note-and-time{
    width: fit-content;
}

.redDot{
    background: hsl(1, 90%, 64%);
    width: .5rem;
    height: .5rem;
    border-radius: 10px;
    align-self: center; 
    margin-left: .5rem; 
    margin-top: -.5rem;
    display: inline-block;
}

.message{
    border: 1px solid hsl(219, 18%, 85%);
    margin-left:0;
    width: 33rem;
    padding: 1rem;
    padding-right: 3rem;
    border-radius: 5px;
}
.message:hover{
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}

.commentedPic{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width:600px){
    .notificationsArea{
        width: 20rem;
        padding-left: 4%;
        padding-right: 4%;
    }
    .message{
        width: 14rem;
        padding-right: 1rem;
    }
    .note-and-time{
        width: 13rem;
    }
    .unreadDiv>.note-and-time{
        width: 80%;
    }
    img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .notes{
        width: 12rem;
    }
    .profilePics{
        width: 4rem;
    }
}